[Unit]
Description=Custom user interface on %I
Documentation=https://unix.stackexchange.com/a/318336/5132
Conflicts=getty@%I.service
Before=getty.target

[Service]
ExecStart=python3 /home/pi/pp.py
StandardInput=tty
StandardOutput=tty
Restart=always
RestartSec=1
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
SendSIGHUP=yes

[Install]
WantedBy=multi-user.target
