# HBELL Receiver Configuration
# Version 1.3.0

[STORE]
# [GROUP][SERVER NO][STORE NO]
# Store NO range : 0 ~ 9
# ex) group0, server1 -> 001
# ex) group1, server1 -> 111
ADDRESS = 000

# Multi Sender Mode "Y"
# Single Sender Mode "N"
IS_MULTI = Y

[DISPLAY]
# Stores to show
# Range: 2 ~ 10
MAX_STORES = 5

# Store Count 
# To cover dummy img for not using area.
# 4, 3, 2
STORE_CNT = 4

# Set to False to disable sound True / False
ENABLE_SOUND = False

[NRF24]
# RECEIVER PIPE INDEX RANGE: 0 ~ 8
# USE SINGLE INDEX ONLY
PIPE_IDX = 0

# CHANNEL SHOULD BE MATCHED WITH SENDER
CHANNEL = 96

RETRY_CNT = 10
RETRY_INTERVAL = 20
SPI_SPEED = 2000000

# RF24/WIFI Alive Signal
ALIVE_INTERVAL = 5

# WiFi Multicast settings
[WIFI-M]
MCAST_GRP = 239.192.10.142
MCAST_PORT = 50000
MCAST_BUF_SIZE = 1024
MCAST_TIMEOUT = 2
